.Additional {

  text-align: left;
  color: $gray-font-color;

  .SliderInput {
    input {
      position: relative;
      top: -2px;
      margin-left: 4px;
      margin-right: 4px;
    }
    .SliderValue {
      display: inline-block;
      min-width: 48px;
    }

    span {
      cursor: default;
    }
  }

  .FileCount, .ShowingFileCount {
    text-align: right;
    float:right;

    span {
      cursor: default;
    }

  }

  .FileCount {
    padding-right: 10px;
  }

  .ShowingFileCount {
    color: lighten($gray-font-color, 20);
  }

  .ErrorMessage {
    float:right;
    color: darken(red, 5);
  }


  @media (max-width: 550px) {
    .FileCount, .ShowingFileCount {
      display: none;
    }
  }
}
