.FileList {

  list-style: none;
  margin: 60px 0 0 0;
  padding: 0;
  border: none;
  /*border-collapse:collapse;*/

  th, td, tr {
    border: none;
    padding: 0;
    margin: 0;
  }

  thead {
    display:none;
  }

  thead td {
    color: $gray-font-color;
    padding-bottom: 20px;
  }

  .FileItem {

    .FileIcon {
      padding-right: 30px;

      > div {
        background-color: darken($primaryColor, 5);
        border-radius: 50%;
        color: white;
        height: 30px;
        width: 30px;
        text-align: center;
        transition: background-color 0.1s ease-out;

        i {
          position: relative;
          top:5px;
        }
      }
    }

    .FileName {
      max-width: 150px;
      min-width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 40px;
      cursor: default;

      .DirectoryName {
        cursor: pointer;
        display: none;
        color: rgb(50, 98, 109);
        text-decoration: underline;
        margin-top: 4px;
        cursor: pointer;
      }
    }



    .FileSizeBar {
      width: 100%;
      padding-right: 66px;

      > div {
        > div {
          background-color: $primaryColor;
          box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
          height: $row-height;
          transition: width 0.5s ease-out, background-color 0.1s ease-out;
          text-align: right;
        }
      }

      .FileSize {
        color: $black-font-color;
        font-weight: 500;
        white-space: nowrap;
        position: relative;
        top: 14px;
        right: -64px;
      }
    }

    &:hover {

      .FileIcon > div {
        background-color: lighten($primaryColor, 30);
      }
      .FileName {
        overflow: initial;

        .DirectoryName {
          display: block;
        }
      }

      .FileSizeBar > div > div {
        background-color: lighten($primaryColor, 30) !important;
      }
    }

    @for $i from 1 through 100 {
      &:nth-child(#{$i}) .FileSizeBar > div > div {
        @include lightenIterator($primaryColor, $i, 2);
      }
    }
  }
}



@media (max-width: 550px) {
  .FileName {
    max-width: 50px !important;
  }
}
